<script id="headers-template" type="text/x-template">
  <table class="table table-hover table table-bordered">
    <tbody>
      <tr>
        <th>Subject:</th>
        <td id="email-subject"></td>
      </tr>

      <tr>
        <th style="width: 7rem;">From:</th>
        <td id="email-from"></td>
      </tr>

      <tr>
        <th>Reply-To:</th>
        <td id="email-replyTo"></td>
      </tr>

      <tr>
        <th>To:</th>
        <td id="email-to"></td>
      </tr>

      <tr>
        <th>Cc:</th>
        <td id="email-cc"></td>
      </tr>

      <tr>
        <th>Bcc:</th>
        <td id="email-bcc"></td>
      </tr>
    </tbody>
  </table>
</script>
