.headers {
  width: 100%;
  display: none;
}

.row {
  margin: 0;
}

#title {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

#title:hover {
  color: #007bff !important;
}

.inbox-container {
  width: 35rem;
  max-width: 35rem;
  height: calc(100vh - 6rem);
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
  display: none;
}

.inbox-header {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.9rem;
  padding-bottom: 0.2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 3.5rem;
  position: fixed;
  z-index: 100;
  width: 32rem;
  max-width: 32rem;
}

#inbox-info {
  font-size: 0.7rem;
  margin-left: 0.2rem;
  display: inline-block;
  vertical-align: middle;
}

.inbox-loading {
  font-size: 1.6rem;
  font-weight: 200;
  padding-top: 4rem;
  padding-left: 0.2rem;
  animation: fade 3s infinite;
  text-align: center;
}

@keyframes fade {
  0% {
    color: #555;
  }
  50% {
    color: #ddd;
  }
  100% {
    color: #555;
  }
}

.show-hide-read-button {
  position: absolute;
  right: 5rem;
  top: 0.4rem;
}

.read-all-button {
  position: absolute;
  right: 0.5rem;
  top: 0.4rem;
}

#inbox {
  padding-right: 0.2rem;
  padding-left: 0;
  padding-top: 4rem;
}

#inbox.visible {
  display: block;
}

#inbox li span.timestamp {
  font-size: 0.8rem;
  margin-right: -0.5rem;
  float: right;
  color: #aaa;
  position: absolute;
  right: 1rem;
  top: 0.8rem;
}

#inbox ul {
  list-style-type: none;
}

.list-group-item {
  padding-left: 0.75rem;
}

.inbox-container.hide-read li {
  display: none;
}

.inbox-container.hide-read li.unread, .inbox-container.hide-read li.active {
  display: block;
}

.inbox-container li .unread-icon, .inbox-container li .read-icon {
  padding-right: 0.75rem;
  font-size: 1.2rem;
}

#inbox li .read-icon {
  opacity: 0.1;
  display: inline;
}

#inbox li.active .read-icon {
  color: #fff;
  opacity: 0.3;
}

#inbox li .unread-icon {
  display: none;
}

#inbox li.unread .read-icon {
  display: none;
}

#inbox li.unread .unread-icon {
  display: inline;
}

#inbox li a {
  text-decoration: none;
  background-color: transparent;
  max-width: 23rem;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis
}

#inbox li a:hover {
  text-decoration: none;
}

#inbox li.active a {
  color: #fff;
}

#inbox li.active span.timestamp {
  color: #fff;
}

.content {
  background-color: #efefef;
  padding: 1rem 2rem;
  height: 100%;
}

.headers table {
  background-color: #fff;
}

.preview {
  display: none;
  background-color: #fff;
  padding: 2rem;
  height: 100%;
}

.preview.source-view {
  padding: 1.5rem;
}

.preview iframe {
  border-style: none;
  width: 100%;
  height: 100%;
}

.main-row {
  height: 100%;
}

.container {
   height: 90vh;
   margin-top: 2.8rem;
}

.container.full-width {
   max-width: 100%;
}

.visible {
  display: block;
}

.toolbar {
   background-color: #fff;
   text-align: right;
   padding: 0.5rem 1rem;
   position: fixed;
   width: 100%;
}

.toolbar i {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 0.2rem;
}

.toolbar i.disabled {
  cursor: default;
  color: #ddd !important;
}

.toolbar .separator {
  border-right: 1px solid #ccc;
  margin-right: 0.5rem;
  margin-left: 0.2rem;
}

.right-column {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#index-iframe, #identity-iframe {
  display: none;
}

.hidden {
  display: none;
}

#download-link:hover {
  color: #007bff !important;
}
