<!DOCTYPE html>
<html>
<body>
<div data-uuid="<%= uuid %>" id="index">
### INDEX START
<% encoded_index.each do |encoded| -%>
<%= encoded %>
<% end -%>
### INDEX END
</div>
<script>
  window.addEventListener('message', function (ev) {
    const filter = (line) => line !== '' && !line.startsWith('### INDEX');
    const index = document.querySelector('#index');
    const uuid = index.dataset.uuid;
    const type = 'index';
    const mails = index.innerHTML
                       .split('\n')
                       .filter(filter)
                       .map(line => JSON.parse(atob(line)));
    ev.source.postMessage({ uuid, type, mails }, '*');
  });
</script>
</body>
</html>
